/* CSS Styling for Gregory Shaw Portfolio Project */

/* GENERAL */

body {
	background-color: #535353;
}

h1 {
	font-size: 25px;
  font-weight: bold;
	color: #14213d;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

h3 {
	color: #14213d;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

p {
	font-size: 12px;
	color: #333;
  text-align:justify;
  font-family: 'Noto Sans JP', sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;
    gap: 5px;   
    height: 90vh;
    padding: 5px;

}   

header, footer{
    grid-column: 1 / 4;
    border-style: solid;
    padding: 5px;
    text-align: center;
    background-color: #14213d;
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
}
aside {
    border-style: solid;
    font-size: 12px;
    background: #aed4e6;
    padding: 20px;
    text-align: center;
}

a:link {
  text-decoration: none;
  color: #333;
}

a:hover {
    font-size: 115%;
  }

a:visited {
    color: #14213d;
  }

  /* IMAGE RESIZE */

img {
    max-width: 100%;
    max-height: 100%;
  }

/* NAV BAR CHANGES */

.navbar-brand {
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
  }

.nav-link {
    font-size: 20px;
  }

/* VIDEO STYLING */

.container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* LIST */

.personal-info {
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  }

/* BUTTONS */

.button {
  background-color: #14213d;
  border: none;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}
  
.button1 {
  background-color: whitesmoke; 
  color: black; 
  border: 1px solid #14213d;
}

.button1:hover {
  background-color: #bfc0c0;
}

.button2 {
  background-color: whitesmoke; 
  color: black; 
  border: 1px solid #14213d;
}

.button2:hover {
  background-color: #aed4e6;
}
